:root {
	--cor-de-fundo: #EBECEE;
	--preto: #000000;
	--cinza: #474646;
	--vermelho: #800000;
	--azul: #00FFFF;
	--cinza-claro: #D3D3D3;


}

body {
	background:  linear-gradient( 45deg, var(--cinza-claro),var(--preto));
}

.container-cabecalho {
	display: flex;
	justify-content: space-between;
	margin: 16px 40px;
	align-items: flex-start;

}

.container-link {
	display: flex;
	align-items: flex-end;
	gap: 80px;
}

.foto {
	width: 100px;
	border-radius: 60px;
	box-shadow: 5px 5px 30px var(--cor-de-fundo);
}

.botao-cabecalho {
	border: 20px solid var(--cinza-claro);
	background: var(--cinza-claro);
	border-radius: 60px;
	color: var(--preto);
	text-decoration: none;
	font-size: 20px;
	box-shadow: 5px 5px 30px var(--cor-de-fundo);
}

.botao-cabecalho:hover {
	text-decoration: underline;
	transform: scale(1.2);
	transition: 1s all;
}

.conteudo {
	color: var(--cor-de-fundo);
	margin: 50px 50px;
}

.titulo {
	font-size: 40px;
	margin: 16px 0;
}

.texto-conteudo {
	font-size: 20px;
}

.lista-container {
	font-size: 20px;
	padding: 16px;
}


.container-redes {
	display: flex;
	justify-content: space-around;
	margin: 100px 0;
}

.links {
	border: 20px solid var(--vermelho);
	background: var(--vermelho);
	border-radius: 60px;
	color: var(--cor-de-fundo);
	text-decoration: none;
	font-size: 20px;
	box-shadow: 5px 5px 30px var(--preto);
}

.links:hover {
	text-decoration: underline;
	transform: scale(1.2);
	transition: 1s all;
}

.rodape {
	color: var(--cinza);
	display: flex;
	justify-content: center;
	margin: 200px;
}